* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: auto;
}

#fashionSaleBox {
  min-height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url("../../../assets/IMAGE/h1_hero1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#fashionSaleBox .container {
  min-height: 500px;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#fashionSaleBox .container .writeBox {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#fashionSaleBox .container .writeBox h5 {
  font-size: 45px;
  font-weight: 300;
  color: red;
  font-family: "Clicker Script", cursive;
}
#fashionSaleBox .container .writeBox h3 {
  font-size: 40px;
  display: flex;
  gap: 10px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-family: "Jost", sans-serif;
}
#fashionSaleBox .container .writeBox button {
  padding: 15px 40px;
  background-color: black;
  color: white;
  border: 1px solid black;
}
#fashionSaleBox .container .writeBox .fashionSaleLorem {
  width: 75%;
  align-self: center;
  text-align: center;
}

#cinsFashionBox {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
#cinsFashionBox .cinsFashionContainer {
  height: 300px;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#cinsFashionBox .cinsFashionContainer .imgMen {
  background-image: url(../../../assets/IMAGE/items1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#cinsFashionBox .cinsFashionContainer .imgWomen {
  background-image: url(../../../assets/IMAGE/items2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#cinsFashionBox .cinsFashionContainer .imgBaby {
  background-image: url(../../../assets/IMAGE/items3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#cinsFashionBox .cinsFashionContainer .imgBox {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: flex-end;
}
#cinsFashionBox .cinsFashionContainer .imgBox .writeContainer {
  height: 30%;
  width: 100%;
  background-color: rgba(2, 2, 2, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
#cinsFashionBox .cinsFashionContainer .imgBox .writeContainer h3 {
  font-size: 24px;
  color: white;
}
#cinsFashionBox .cinsFashionContainer .imgBox .writeContainer p {
  text-decoration: underline;
  font-size: 19px;
  display: none;
  color: #CEB27A;
}
#cinsFashionBox .cinsFashionContainer .imgBox .writeContainer:hover p {
  display: block;
  transform: rotateY(0);
  transition: 1.5s;
}

#trendingThisWeekBox {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#trendingThisWeekBox .trendingThisWeekcontainer {
  width: 85%;
  display: flex;
  flex-direction: column;
}
#trendingThisWeekBox .trendingThisWeekcontainer .writeBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#trendingThisWeekBox .trendingThisWeekcontainer .writeBox h1 {
  font-size: 34px;
  margin-top: 5px;
  padding: 10px;
  font-weight: 500;
}
#trendingThisWeekBox .trendingThisWeekcontainer .writeBox .rightMenuBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  font-size: 16px Jost, sans-serif;
}
#trendingThisWeekBox .trendingThisWeekcontainer .writeBox .rightMenuBox .menBox {
  border-bottom: 3px solid red;
}
#trendingThisWeekBox .trendingThisWeekcontainer .writeBox .rightMenuBox p {
  padding: 20px 5px;
  cursor: pointer;
}
#trendingThisWeekBox .trendingThisWeekcontainer .writeBox .rightMenuBox p:hover {
  border-bottom: 3px solid red;
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox {
  height: auto;
  width: 98%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox .fourImgContainer {
  height: 50vh;
  width: 22.5%;
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox .fourImgContainer .properties-caption {
  background-size: cover;
  background-repeat: no-repeat;
  height: 70%;
  width: 100%;
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox .fourImgContainer .headerWriteBox {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox .fourImgContainer .headerWriteBox a {
  text-decoration: none;
  color: #2D2A25;
  font-weight: 400;
  font-size: 16px;
  font-family: Jost, sans-serif;
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox .fourImgContainer .headerWriteBox a:hover {
  color: red;
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox .fourImgContainer .footerWriteBox {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox .fourImgContainer .footerWriteBox span {
  font-size: 1em;
  font-weight: 500;
  color: #74706b;
  line-height: 24px;
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox .fourImgContainer .footerWriteBox .hundredTwentyBox {
  font-weight: 500;
  line-height: 24px;
  color: #cebd9c;
  text-decoration: line-through;
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox .imgOneBox {
  background-image: url("../../../assets/IMAGE/latest1.jpg");
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox .imgTwoBox {
  background-image: url("../../../assets/IMAGE/latest2.jpg");
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox .imgThreeBox {
  background-image: url("../../../assets/IMAGE/latest3.jpg");
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox .imgFourBox {
  background-image: url("../../../assets/IMAGE/latest4.jpg");
}

#customerTestimonialBox {
  min-height: 50vh;
  width: 100%;
  background-color: #F3EAD8;
  display: flex;
  justify-content: center;
}
#customerTestimonialBox .customerTestimonialContainer {
  width: 85%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
}
#customerTestimonialBox .customerTestimonialContainer .testimonial-top-write {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#customerTestimonialBox .customerTestimonialContainer .testimonial-top-write h2 {
  font-size: 34px;
  font-weight: 500;
}
#customerTestimonialBox .customerTestimonialContainer .testimonial-top-write p {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  width: 75%;
}
#customerTestimonialBox .customerTestimonialContainer .testimonial-founder {
  display: flex;
  flex-direction: row;
}
#customerTestimonialBox .customerTestimonialContainer .testimonial-founder .founder-text span {
  font-size: 15px;
  font-weight: 500;
  color: #292621;
  margin-left: 10px;
  line-height: 21px;
}
#customerTestimonialBox .customerTestimonialContainer .testimonial-founder .founder-text p {
  font-size: 16px;
  font-weight: 500;
  color: #74706b;
  width: 150px;
  line-height: 24px;
}

#youMayLikeBox {
  min-height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#youMayLikeBox .youMayLikeContainer {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
#youMayLikeBox .youMayLikeContainer h1 {
  font-size: 30px;
  font-weight: 500;
  color: #292621;
  margin: auto;
  line-height: 42px;
}
#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox {
  min-height: 50vh;
  width: 98%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox .fourImgContainer {
  height: 50vh;
  width: 22.5%;
}
#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox .fourImgContainer .properties-caption {
  background-size: cover;
  height: 70%;
  width: 100%;
}
#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox .fourImgContainer .headerWriteBox {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox .fourImgContainer .headerWriteBox a {
  text-decoration: none;
  color: #2D2A25;
  font-weight: 400;
  font-size: 16px;
  font-family: Jost, sans-serif;
}
#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox .fourImgContainer .headerWriteBox a:hover {
  color: red;
}
#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox .fourImgContainer .footerWriteBox {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox .fourImgContainer .footerWriteBox span {
  font-size: 1em;
  font-weight: 500;
  color: #74706b;
  line-height: 24px;
}
#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox .fourImgContainer .footerWriteBox .hundredTwentyBox {
  font-weight: 500;
  line-height: 24px;
  color: #cebd9c;
  text-decoration: line-through;
}
#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox .img-one-box {
  background-image: url("../../../assets/IMAGE/latest5.jpg");
}
#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox .img-two-box {
  background-image: url("../../../assets/IMAGE/latest6.jpg");
}
#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox .img-three-box {
  background-image: url("../../../assets/IMAGE/latest7.jpg");
}
#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox .img-four-box {
  background-image: url("../../../assets/IMAGE/latest8.jpg");
}

#latestNewsBox {
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
#latestNewsBox .latestNewsContainer {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
#latestNewsBox .latestNewsContainer .lastNewBox {
  display: flex;
  justify-content: center;
}
#latestNewsBox .latestNewsContainer .lastNewBox h1 {
  font-size: 30px;
  font-weight: 500;
  color: #292621;
}
#latestNewsBox .latestNewsContainer .cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#latestNewsBox .latestNewsContainer .cardContainer .cardBox {
  height: 70vh;
  width: 30%;
}
#latestNewsBox .latestNewsContainer .cardContainer .cardBox .cardImgBox {
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
}
#latestNewsBox .latestNewsContainer .cardContainer .cardBox .cardWriteBox {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#latestNewsBox .latestNewsContainer .cardContainer .cardBox .cardWriteBox span {
  font-size: 16px;
  font-weight: 400;
  color: #74706b;
  font-weight: 500;
}
#latestNewsBox .latestNewsContainer .cardContainer .cardBox .cardWriteBox a {
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  color: #292621;
}
#latestNewsBox .latestNewsContainer .cardContainer .cardBox .cardWriteBox p {
  font-size: 16px;
  font-weight: 400;
  color: #74706b;
}
#latestNewsBox .latestNewsContainer .cardContainer .cardBox .cardWriteBox .red-btn {
  font-size: 16px;
  font-weight: 600;
  color: #292621;
  text-decoration: underline;
  transform: none;
}
#latestNewsBox .latestNewsContainer .cardContainer .oneBox {
  background-image: url("../../../assets/IMAGE/blog1.jpg");
}
#latestNewsBox .latestNewsContainer .cardContainer .twoBox {
  background-image: url("../../../assets/IMAGE/blog2.jpg");
}
#latestNewsBox .latestNewsContainer .cardContainer .threeBox {
  background-image: url("../../../assets/IMAGE/blog3.jpg");
}

@media screen and (min-width: 300px) and (max-width: 991px) {
  #fashionSaleBox {
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-position: center;
  }
  #fashionSaleBox .container {
    width: 100%;
  }
  #fashionSaleBox .container .writeBox {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #fashionSaleBox .container .writeBox h3 {
    font-size: 30px;
  }
  #cinsFashionBox {
    height: auto;
  }
  #cinsFashionBox .cinsFashionContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 19.5px;
  }
  #cinsFashionBox .cinsFashionContainer .imgBox {
    width: 100%;
  }
}
#trendingThisWeekBox {
  width: 90%;
  display: flex;
}
#trendingThisWeekBox .trendingThisWeekcontainer {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
}
#trendingThisWeekBox .trendingThisWeekcontainer .writeBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox {
  display: flex;
  flex-wrap: wrap;
}
#trendingThisWeekBox .trendingThisWeekcontainer .trendingThisWeekImgBox .fourImgContainer {
  width: 42.5%;
}

#customerTestimonialBox .customerTestimonialContainer .testimonial-top-write {
  width: 90%;
}
#customerTestimonialBox .customerTestimonialContainer .testimonial-top-write p {
  width: 90%;
  font-size: 15px;
}
#customerTestimonialBox .customerTestimonialContainer .testimonial-founder .founder-text {
  position: relative;
}
#customerTestimonialBox .customerTestimonialContainer .testimonial-founder .founder-text span {
  font-size: 26px;
  line-height: 39px;
  font-weight: 500;
}
#customerTestimonialBox .customerTestimonialContainer .testimonial-founder .founder-text p {
  line-height: 24px;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
}

#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox {
  width: 90%;
}
#youMayLikeBox .youMayLikeContainer .youMayLikeImgBox .fourImgContainer {
  width: 45%;
}

#latestNewsBox {
  display: flex;
  justify-content: center;
}
#latestNewsBox .latestNewsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 95%;
}
#latestNewsBox .latestNewsContainer .cardContainer {
  width: 100%;
}
#latestNewsBox .latestNewsContainer .cardContainer .cardBox {
  width: 100%;
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  #cinsFashionBox {
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-position: center;
  }
  #cinsFashionBox .cinsFashionContainer {
    width: 42.5%;
  }
  #cinsFashionBox .cinsFashionContainer .imgBox {
    width: 100%;
  }
}